@page "/"

<PageTitle>HomePage</PageTitle>

<style>
body {
  background-image: url('https://static0.srcdn.com/wordpress/wp-content/uploads/2022/02/Elden-Ring-Berserk-Easter-Egg-Guts-Greatsword.jpg');
}
</style>

<h1 style="font-family:'Times New Roman', Times, serif;"> Home Page </h1>
<h3 style="font-family:'Times New Roman', Times, serif">Welcome to our forum webbsite</h3>
<br/>
<br/>
<br/>
<p>welcome to this forum webbsite dedicatet to the gaming community.</p>
<p>Here you can discus varius topcis related to anything gaming.</p>



@code{
    


}