@page "/"

<PageTitle>HomePage</PageTitle>

<style class="oi-image">
body {
 
  background-image: url('https://www.logolynx.com/images/logolynx/3f/3f28b0c181a4256c68c5e727767c2935.png');
  
}
</style>

<div class="text-center">
<h1 style="font-family:'Times New Roman', Times, serif; font-size:50px; color:white"> .  </h1>
<h3 style="font-family:'Times New Roman', Times, serif; font-size:50px; color:black">Welcome to our Forum</h3>
@*<br/>
<br/>
<br/>
<p>welcome to this forum webbsite dedicatet to the gaming community.</p>
<p>Here you can discus varius topcis related to anything gaming.</p>*@

</div>

@code{
    


}