@using Fora.Shared

<PageTitle>Intrests</PageTitle>
<style>
body {
 
  background-image: url('https://www.logolynx.com/images/logolynx/3f/3f28b0c181a4256c68c5e727767c2935.png');
  
}
</style>

@page "/intrests"


<h3>Intrests</h3>

@foreach( var intrests in userInterestsPLaceHolder)
{
    @intrests;
    <br/>
}

@code {
    //placeholder list
    public List<string> userInterestsPLaceHolder = new();


    protected override async Task OnInitializedAsync()
    {
        userInterestsPLaceHolder.Add("Souls like games");
        userInterestsPLaceHolder.Add("Rouge Like");
        userInterestsPLaceHolder.Add("FPS");
        userInterestsPLaceHolder.Add("Brawlers");
    }

}
