@using Blazored.LocalStorage
@using Fora.Shared
@inject IInterestManager _interestManager
@inject NavigationManager _navigationManager
@inject ILocalStorageService _localStorage;

<PageTitle>Intrests</PageTitle>

@page "/intrests"


<h3>All Intrests</h3>

<div class="row">

@foreach( var intrests in allInterests)
{
   <button  @onclick="ToThreads">@intrests.Name</button> 
    <br/>
}


</div>







@code {
    private List<InterestModel> allInterests = new();
    private List<InterestModel> userInterests = new();
    private string? token;

    protected override async Task OnInitializedAsync()
    {
        token = await _localStorage.GetItemAsStringAsync("token");

        var interests = await _interestManager.GetInterests();
        if (interests != null)
        {
            allInterests = interests;
        }

        var uInterests = await _interestManager.GetUserInterests(token);
        if(uInterests != null)
        {
            userInterests = uInterests;
        }
    }

    public async Task ToThreads()
    {
        _navigationManager.NavigateTo("threads");
    }
}
