@using Blazored.LocalStorage
@using Microsoft.AspNetCore.Identity;
@using System.ComponentModel.DataAnnotations
@using Fora.Client.Services
@using Fora.Shared
@inject IUserManager UserManager
@inject ILocalStorageService LocalStorage
@page "/login"

<PageTitle>LoginPage</PageTitle>

<h3>Login</h3>

<EditForm Model="@User" OnSubmit="LogInUser">
    <InputText @bind-Value="@User.Username" type="text" placeholder="Username"></InputText>
    <InputText @bind-Value="@User.Password" type="password" placeholder="Password"></InputText>
    <button type="submit">Log In</button>
</EditForm>

@code {

    public UserDto User { get; set; } = new();



    private async Task LogInUser()
    {
        var token = await UserManager.LogInUser(User);

        // Add the token to the local storage
        await LocalStorage.SetItemAsStringAsync("token", token);

        // Get token from LS

        var tokenFromLocalStorage = await LocalStorage.GetItemAsStringAsync("token");

        if(tokenFromLocalStorage == null)
        {
            
        }
        else 
        {
            // Get stuff from api with the token as key
        }
    }


}
