@using Microsoft.AspNetCore.Identity;
@using System.ComponentModel.DataAnnotations
@using Fora.Client.Services
@using Fora.Shared
@inject IUserManager UserManager
@page "/login"

<PageTitle>LoginPage</PageTitle>

<h3>Login</h3>

@*<EditForm Model="@User" OnSubmit="LogInUser">
    <InputText @bind-Value="@User.Username" type="text" placeholder="Username"></InputText>
    <InputText @bind-Value="@User.Password" type="password" placeholder="Password"></InputText>
    <button type="submit">Log In</button>
</EditForm>*@

@code {

    //public UserDto User { get; set; } = new();



    private async Task LogInUser()
    {
        //UserManager.RegisterUser(User);
    }


}
