@inject NavigationManager NavigationManager
@inject IUserManager UserManager;
@inject ILocalStorageService LocalStorage;
@page "/LogoutLanding/{Message}"
@using Fora.Shared
@using Blazored.LocalStorage

@if (Message != null)
{
    <h3>User Was @Message</h3>
}


@if (loginStatus != null && loginStatus.IsBanned)
{
    <h3>Click the button below to get unbanned or go to User Settings and Unban there</h3>
    <button class="btn-outline-success" @onclick="UnbanUser">Unban User</button>

}


@code {
    [Parameter]
    public string? Message { get; set; }

    private LoginDto? loginStatus;
    private string? token;

    protected override async Task OnInitializedAsync()
    {
        token = await LocalStorage.GetItemAsStringAsync("token");

        loginStatus = await UserManager.CheckUserLogin(token);
    }

    public void UnbanUser()
    {
        UserManager.UnbanUser(token);
        NavigationManager.NavigateTo("usersettings");
    }
}
