@using System.ComponentModel.DataAnnotations
@using Fora.Client.Services
@using Fora.Shared
@inject IUserManager UserManager
@page "/registeruser"

<style>
body {
  background-image: url('https://static0.srcdn.com/wordpress/wp-content/uploads/2022/02/Elden-Ring-Berserk-Easter-Egg-Guts-Greatsword.jpg');
}
</style>

<h3 style="font-family:'Times New Roman', Times, serif;">Register a User</h3>

<EditForm Model="@User" OnValidSubmit="RegUser">
    <DataAnnotationsValidator/>
    <InputText @bind-Value="User.Username" type="text" placeholder="Username"></InputText>
    <InputText @bind-Value="User.Password" type="password" placeholder="Password"></InputText>
    <button type="submit">Register</button>
    <h4 class="text-danger">@Message</h4>
</EditForm>


@code {
    public UserDto User { get; set; } = new();
    public string Message { get; set; } = string.Empty;

    private async Task RegUser()
    {
        Message = await UserManager.RegisterUser(User);
        
    }
     
}
