@using System.ComponentModel.DataAnnotations
@using Fora.Client.Services
@using Fora.Shared
@inject IUserManager UserManager
@page "/registeruser"

<h3>RegisterUser</h3>



<EditForm Model="@User" OnSubmit="RegUser">
    <InputText @bind-Value="User.Username" type="text" placeholder="Username"></InputText>
    <InputText @bind-Value="User.Password" type="password" placeholder="Password"></InputText>
    <button type="submit">Register</button>
</EditForm>


@code {
    public UserDto User { get; set; } = new();

    private void RegUser()
    {
        UserManager.RegisterUser(User);
    }
        
        // Skapa formulär med validation Check
        // Skicka användarnamn och lösenord till en service Check

        // Servicen call:ar API:t
        // API:t skapar en token ( string token = Guid.NewGuid(); )
        // API:t lägger till token till användaren i databasen
        // API:t skickar tillbaka token till clienten ( return Ok(token); )
        // Clienten lägger token i LocalStorage



}
