@using System.ComponentModel.DataAnnotations
@using Fora.Client.Services
@using Fora.Shared
@inject IUserManager UserManager
@page "/registeruser"

<style>
body {
  background-image: url('https://static0.srcdn.com/wordpress/wp-content/uploads/2022/02/Elden-Ring-Berserk-Easter-Egg-Guts-Greatsword.jpg');
}

/*    box{
        background-color: white;
        width: 200px;
        border: 5px solid black;
        padding: 50px;
        margin: 20px;
    }*/
</style>

<h3 style="font-family: 'Comic Sans MS';">Register a User</h3>

<EditForm Model="@User" OnSubmit="RegUser">
    <InputText @bind-Value="User.Username" type="text" placeholder="Username"></InputText>
    <InputText @bind-Value="User.Password" type="password" placeholder="Password"></InputText>
    <button type="submit">Register</button>
</EditForm>


@code {
    public UserDto User { get; set; } = new();

    private void RegUser()
    {
        UserManager.RegisterUser(User);
    }
        
        // Skapa formulär med validation Check
        // Skicka användarnamn och lösenord till en service Check

        // Servicen call:ar API:t
        // API:t skapar en token ( string token = Guid.NewGuid(); )
        // API:t lägger till token till användaren i databasen
        // API:t skickar tillbaka token till clienten ( return Ok(token); )
        // Clienten lägger token i LocalStorage



}
