@using Microsoft.AspNetCore.Identity;
@using System.ComponentModel.DataAnnotations
@using Fora.Client.Services
@using Fora.Shared

<PageTitle>Threads</PageTitle>

<style>
body {
  background-image: url('https://static0.srcdn.com/wordpress/wp-content/uploads/2022/02/Elden-Ring-Berserk-Easter-Egg-Guts-Greatsword.jpg');
}
</style>

@page "/threads"

<form action="OnSearch">
    <label for="searchStr"> Search: </label>
    <input type="text" id="searchStr"/>
    <input type="submit" />
</form>


<h3>Threads</h3>

@if(SearchList.Count() == 0)
{
    foreach(var thread in ThreadsList)
    {
        <a href="thread">@thread</a>
        <br/>
    }
}
else if (SearchList.Count() > 0)
{
    foreach(var searchThread in SearchList)
    {
        <a href="thread">searchThread</a>
        <br/>
    }
}


@code {
    //hämta ut alla namn(strings) på threads från den riktiga listan och spara det i en ny lista
    //sortera den listan och loopa igenom den för att visa namnen med html
    //
    //placeholder List

    public Fora.Shared.InterestModel Intrests { get; set; } = new();

    public List<string> ThreadsList = new();

    public List<string> SearchList = new();

    protected override async Task OnInitializedAsync()
    {
        ThreadsList.Add(Intrests.Name);
        ThreadsList.Add("Best souls like game");
        ThreadsList.Add("Who is your daddy? And why is it me?");
        ThreadsList.Add("Worst souls like game");
        ThreadsList.Add("a");
        ThreadsList.Add("z");
        ThreadsList.Sort();
    }

    public async Task OnSearch(string searchStr)
    {
        //hur ska jag får sidan att uppdateras dynamiskt? Albin lempa
        //
        foreach(var thread in ThreadsList)
        {
            SearchList = ThreadsList.Where(x => x.Contains(searchStr)).ToList();
        }
    }

}
