@using Fora.Shared

<PageTitle>Thread</PageTitle>
<style>
body {
 
  background-image: url('https://www.logolynx.com/images/logolynx/3f/3f28b0c181a4256c68c5e727767c2935.png');
  
}
</style>

@page "/thread"

<h3>Thread</h3>

@foreach( var msg in msgPLaceHolder)
{
    @msg;
    <br/>
}

@code {
        //placeholder list
    public List<string> msgPLaceHolder = new();


    protected override async Task OnInitializedAsync()
    {
        msgPLaceHolder.Add("Dark souls 3 is king");
    }

}
